<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mobile-blog.css">

    <title>Watches</title>
</head>

<body>
    <!-- navbar -->
    <header>
        <nav class="nav">
            <div class="company-logo">
                <img src="../images/logo.png" alt="company-logo" />
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="./shop.html">Shop</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li class="nav-submenu">
                        <a href="#">Latest</a>
                        <ul>
                            <div></div>
                            <li><a href="./productlist.html">Product List</a></li>
                            <li><a href="#">Product Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-submenu"><a href="#">Blog</a>
                        <ul>
                            <div></div>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="#">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-submenu"><a href="#">Pages</a>
                        <ul>
                            <div></div>
                            <li><a href="./login.html">Login</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Element</a></li>
                            <li><a href="#">Confirmation</a></li>
                            <li><a href="#">Product Checkout</a></li>
                        </ul>
                    </li>
                    <li><a href="./contacts.html">Contact</a></li>
                </ul>
            </div>
            <div class="nav-icon">
                <ul>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-user"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
        </nav>
    </header>
      <!-- mobile-view-navbar -->
      <header>
                <nav class="mobile-nav">
            <div class="mobile-company-logo">
                <img src="../images/logo.png" alt="company-logo" />
                <div class="mobile-nav-icon">
                    <ul>
                        <li><i class="fa-solid fa-magnifying-glass"></i></li>
                        <li><i class="fa-solid fa-user"></i></li>
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
                    </ul>
                </div>
                <div class="button-navbar">
                    <button onclick="navbtn();"><i class="fa-solid fa-bars"></i></button>                    
                </div>
            </div>
            <div class="mobile-nav-menu" id="m-nav-menu">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../component/shop.html">Shop</a></li>
                    <li><a href="../component/about.html">About</a></li>
                    <li class="mobile-nav-submenu">
                        <a href="#">Latest</a>
                        <ul>
                            <li><a href="../component/productlist.html">Product List</a></li>
                            <li><a href="#">Product Details</a></li>
                        </ul>
                    </li>
                    <li class="mobile-nav-submenu"><a href="#">Blog</a>
                        <ul>
                            <li><a href="../component/blog.html">Blog</a></li>
                            <li><a href="#">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="mobile-nav-submenu"><a href="#">Pages</a>
                        <ul>
                            <li><a href="../component/login.html">Login</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Element</a></li>
                            <li><a href="#">Confirmation</a></li>
                            <li><a href="#">Product Checkout</a></li>
                        </ul>
                    </li>
                    <li><a href="../component/contacts.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Blog -->
    <section>
        <div class="shop-watch-shop">
            <div class="shop-watch-shop-header">
                <h2>Blog</h2>
            </div>
        </div>
    </section>
    <!-- blog description -->
    <section>
        <div class="blog">
            <div class="blog-images">
                <div class="blog-image-details">
                    <div class="blog-image">
                        <img src="../images/single_blog_1.png" alt="blog-image">
                    </div>
                    <div class="blog-date">
                        <h3>15</h3>
                        <p>Jan</p>
                    </div>
                    <div class="blog-image-detail">
                        <h3><a href="#">Google inks pact for new 35-storey office</a></h3>
                        <p>
                            That dominion stars lights dominion divide years for fourth have don't stars is that he
                            earth it first without heaven in place seed it second morning saying.
                        </p>
                        <ul>
                            <li>
                                <i class="fa-solid fa-user-large"></i>
                                <a href="">Travel, Lifestyle</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-comments"></i>
                                <a href="">03 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-image-details">
                    <div class="blog-image">
                        <img src="../images/single_blog_2.png" alt="blog-image">
                    </div>
                    <div class="blog-date">
                        <h3>15</h3>
                        <p>Jan</p>
                    </div>
                    <div class="blog-image-detail">
                        <h3><a href="#">Google inks pact for new 35-storey office</a></h3>
                        <p>
                            That dominion stars lights dominion divide years for fourth have don't stars is that he
                            earth it first without heaven in place seed it second morning saying.
                        </p>
                        <ul>
                            <li>
                                <i class="fa-solid fa-user-large"></i>
                                <a href="">Travel, Lifestyle</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-comments"></i>
                                <a href="">03 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-image-details">
                    <div class="blog-image">
                        <img src="../images/single_blog_3.png" alt="blog-image">
                    </div>
                    <div class="blog-date">
                        <h3>15</h3>
                        <p>Jan</p>
                    </div>
                    <div class="blog-image-detail">
                        <h3><a href="#">Google inks pact for new 35-storey office</a></h3>
                        <p>
                            That dominion stars lights dominion divide years for fourth have don't stars is that he
                            earth it first without heaven in place seed it second morning saying.
                        </p>
                        <ul>
                            <li>
                                <i class="fa-solid fa-user-large"></i>
                                <a href="">Travel, Lifestyle</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-comments"></i>
                                <a href="">03 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-image-details">
                    <div class="blog-image">
                        <img src="../images/single_blog_4.png" alt="blog-image">
                    </div>
                    <div class="blog-date">
                        <h3>15</h3>
                        <p>Jan</p>
                    </div>
                    <div class="blog-image-detail">
                        <h3><a href="#">Google inks pact for new 35-storey office</a></h3>
                        <p>
                            That dominion stars lights dominion divide years for fourth have don't stars is that he
                            earth it first without heaven in place seed it second morning saying.
                        </p>
                        <ul>
                            <li>
                                <i class="fa-solid fa-user-large"></i>
                                <a href="">Travel, Lifestyle</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-comments"></i>
                                <a href="">03 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-image-details">
                    <div class="blog-image">
                        <img src="../images/single_blog_5.png" alt="blog-image">
                    </div>
                    <div class="blog-date">
                        <h3>15</h3>
                        <p>Jan</p>
                    </div>
                    <div class="blog-image-detail">
                        <h3><a href="#">Google inks pact for new 35-storey office</a></h3>
                        <p>
                            That dominion stars lights dominion divide years for fourth have don't stars is that he
                            earth it first without heaven in place seed it second morning saying.
                        </p>
                        <ul>
                            <li>
                                <i class="fa-solid fa-user-large"></i>
                                <a href="">Travel, Lifestyle</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-comments"></i>
                                <a href="">03 Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- right-side -->
            <div class="blog-social">
                <!-- search -->
                <div class="blog-search">
                    <input type="text" placeholder="Search Keyword">
                    <button class="blog-search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <button class="blog-search-btn">SEARCH</button>
                </div>
                <!-- Category -->
                <div class="blog-category">
                    <div class="blog-rightside-header">
                        <h4>Category</h4>
                        <hr class="horizontal-line">
                    </div>
                    <div class="blog-category-list">
                        <ul>
                            <li>
                                <p>Resaurant food(37)</p>
                            </li>
                            <hr class="horizontal-line">
                            <li>
                                <p>Travel news(10)</p>
                            </li>
                            <hr class="horizontal-line">
                            <li>
                                <p>Modern technology(03)</p>
                            </li>
                            <hr class="horizontal-line">
                            <li>
                                <p>Product(11)</p>
                            </li>
                            <hr class="horizontal-line">
                            <li>
                                <p>Inspiration21</p>
                            </li>
                            <hr class="horizontal-line">
                            <li>Health Care (21)09</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- recent-post -->
                <div class="blog-recent-post">
                    <div class="blog-rightside-header">
                        <h4>Recent Post</h4>
                        <hr class="horizontal-line">
                    </div>
                    <div class="blog-recent-post-images">
                        <div class="blog-recent-post-details">
                            <div class="blog-recent-post-image">
                                <img src="../images/post_1.png" alt="post-image">
                                <div class="blog-recent-post-detail">
                                    <h4>From life was you fish...</h4>
                                    <p>January 12, 2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-recent-post-details">
                            <div class="blog-recent-post-image">
                                <img src="../images/post_2.png" alt="post-image">
                                <div class="blog-recent-post-detail">
                                    <h4>The Amazing Hubble</h4>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-recent-post-details">
                            <div class="blog-recent-post-image">
                                <img src="../images/post_3.png" alt="post-image">
                                <div class="blog-recent-post-detail">
                                    <h4>Astronomy Or Astrology</h4>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                        </div>
                        <div class="blog-recent-post-details">
                            <div class="blog-recent-post-image">
                                <img src="../images/post_4.png" alt="post-image">
                                <div class="blog-recent-post-detail">
                                    <h4>Asteroids telescope</h4>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tag-clouds -->
                <div class="blog-tag-clouds">
                    <div class="blog-rightside-header">
                        <h4>Tag Clouds</h4>
                        <hr class="horizontal-line">
                    </div>
                    <div class="tag-clouds-btns">
                        <button>project</button>
                        <button>love</button>
                        <button>technology</button>
                        <button>travel</button>
                        <button>restaurant</button>
                        <button>life style</button>
                        <button>design</button>
                        <button>illustration</button>
                    </div>
                </div>
                <!-- instagram-feeds -->
                <div class="insta-feeds">
                    <div class="blog-rightside-header">
                        <h4>Instagram Feeds</h4>
                        <hr class="horizontal-line">
                    </div>
                    <div class="insta-gallerys">
                        <div class="insta-gallery-image">
                            <img src="../images/post_5.png" alt="insta-post-images">
                        </div>
                        <div class="insta-gallery-image">
                            <img src="../images/post_6.png" alt="insta-post-images">
                        </div>
                        <div class="insta-gallery-image">
                            <img src="../images/post_7.png" alt="insta-post-images">
                        </div>
                        <div class="insta-gallery-image">
                            <img src="../images/post_8.png" alt="insta-post-images">
                        </div>
                        <div class="insta-gallery-image">
                            <img src="../images/post_9.png" alt="insta-post-images">
                        </div>
                        <div class="insta-gallery-image">
                            <img src="../images/post_10.png" alt="insta-post-images">
                        </div>
                    </div>
                </div>
                <!-- news-letter -->
                <div class="news-letters">
                    <div class="blog-rightside-header">
                        <h4>Newsletter</h4>
                        <hr class="horizontal-line">
                    </div>
                    <div class="news-letter">
                        <input type="email" placeholder="Enter email">
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <section>
        <div class="footer-detail">
            <div class="footer">
                <div class="footer-time-zone-detail">
                    <div class="time-zone-img">
                        <img src="../images/logo.png" alt="logo">
                    </div>
                    <div class="time-zone-detail">
                        <p>Asorem ipsum adipolor sdit amet,
                           consectetur adipisicing elitcf sed do
                           eiusmod tem.
                        </p>
                    </div>

                </div>
                <div class="footer-quick-links">
                    <div class="links-detail">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Offers & Discounts</a></li>
                            <li><a href="#">Get Coupon</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="links-detail">
                    <h4>New Products</h4>
                    <ul>
                        <li><a href="#">Woman Cloth</a></li>
                        <li><a href="#">Fashion Accessories</a></li>
                        <li><a href="#">Man Accessories</a></li>
                        <li><a href="#">Rubber made Toys</a></li>
                    </ul>
                </div>
                <div class="links-detail">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="#">Frequently Asked Questions</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Report a Payment Issue</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <p> 
                    Copyright ©2023 All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>

                    <ul>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                </ul>
            </div>

        </div>
    </section>
</body>
<script src="https://kit.fontawesome.com/b86d7c338a.js" crossorigin="anonymous"></script>
<script src="../js/script.js"></script>
</html>