<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Watches</title>
</head>

<body>
    <!-- navbar -->
    <header>
        <nav class="nav">
            <div class="company-logo">
                <img src="../images/logo.png" alt="company-logo" />
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="./shop.html">Shop</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li class="nav-submenu">
                        <a href="#">Latest</a>
                        <ul>
                            <div></div>
                            <li><a href="./productlist.html">Product List</a></li>
                            <li><a href="#">Product Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-submenu"><a href="#">Blog</a>
                        <ul>
                            <div></div>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="#">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-submenu"><a href="#">Pages</a>
                        <ul>
                            <div></div>
                            <li><a href="./login.html">Login</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Element</a></li>
                            <li><a href="#">Confirmation</a></li>
                            <li><a href="#">Product Checkout</a></li>
                        </ul>
                    </li>
                    <li><a href="./contacts.html">Contact</a></li>
                </ul>
            </div>
            <div class="nav-icon">
                <ul>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-user"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Log In -->
    <section>
        <div class="shop-watch-shop">
            <div class="shop-watch-shop-header">
                <h2>Login</h2>
            </div>
        </div>
    </section>
    <section>
        <div class="login-detail">
            <div class="create-an-account">
                <div class="create-account">
                        <h2>New to our Shop?</h2>
                        <p>
                            There are advances being made in science and technology
                        </p>
                        <p>
                            everyday, and a good example of this is the
                        </p>
                        <button>CREATE AN ACCOUNT</button>
                </div>
            </div>
            <div class="sign-in">
                <div class="sign-in-form">
                    <div class="sign-in-header">
                        <h3>Welcome Back !</h3>
                        <h3>Please Sign in now</h3>
                    </div>
                    <div class="sign-in-detail">
                        <input type="text" placeholder="Username">
                        <input type="text" placeholder="Password">
                        <input type="checkbox"><label>Remember me</label>
                        <button>LOG IN</button>
                        <a href="#">Forget Password?</a>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <!-- footer -->
    <section>
        <div class="footer-detail">
            <div class="footer">
                <div class="footer-time-zone-detail">
                    <div class="time-zone-img">
                        <img src="../images/logo.png" alt="logo">
                    </div>
                    <div class="time-zone-detail">
                        <p>Asorem ipsum adipolor sdit amet,</p>
                        <p>consectetur adipisicing elitcf sed do</p>
                        <p>eiusmod tem.</p>

                    </div>

                </div>
                <div class="footer-quick-links">
                    <div class="links-detail" style="margin-left: 1rem;">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Offers & Discounts</a></li>
                            <li><a href="#">Get Coupon</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="links-detail" style="margin-left: 1rem;">
                    <h4>New Products</h4>
                    <ul>
                        <li><a href="#">Woman Cloth</a></li>
                        <li><a href="#">Fashion Accessories</a></li>
                        <li><a href="#">Man Accessories</a></li>
                        <li><a href="#">Rubber made Toys</a></li>
                    </ul>
                </div>
                <div class="links-detail" style="margin-left: 6rem;">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="#">Frequently Asked Questions</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Report a Payment Issue</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <p>
                    Copyright © 2023 All rights reserved | This template is made with <i class="fa fa-heart"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
                <ul>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                </ul>
            </div>

        </div>
    </section>
</body>
<script src="https://kit.fontawesome.com/b86d7c338a.js" crossorigin="anonymous"></script>

</html>