@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:200,300,400,500,600,700|Roboto:100,300,400,500,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

.mobile-nav {
  background-color: white;
  display: none;
  width: 100%;
  z-index: 9999;
}

.mobile-company-logo {
  margin: 1.5rem 1.5rem;
}

.mobile-company-logo > img {
  width: 8rem;
}
.mobile-nav-menu {
  margin: 0rem 1.5rem;
  display: none;
  position: absolute;
  background-color: white;
  width: 45rem;
}
.mobile-nav-menu > ul {
  list-style: none;
  font-size: 1rem;
}

.mobile-nav-menu > ul > li {
  font-family: "Josefin Sans", sans-serif;
  margin: 0rem 1.5rem;
  font-weight: 600;
  padding: 1rem 0rem;
}
.mobile-nav-menu > ul > li:hover > a {
  color: red;
  transition: 0.5s;
  cursor: pointer;
}
.mobile-nav-menu > ul > li > a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mobile-nav-submenu > ul {
  list-style: none;
  background-color: white;
  margin: 1rem 0rem 0rem 2rem;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  width: 11rem;
  display: none;
}

.mobile-nav-submenu:hover > ul {
  display: block;
  transition: 0.5s;
}

.mobile-nav-submenu > ul > li {
  margin: 1.5rem 1rem 0rem 1rem;
}

.mobile-nav-submenu > ul > li > a {
  color: black;
  text-decoration: none;
}
.mobile-nav-submenu > ul > li:hover > a {
  color: orangered;
  transition: 0.5s;
}
.mobile-nav-icon {
  float: right;
  margin-right: 5rem;
}

.mobile-nav-icon > ul {
  display: inline-flex;
  list-style: none;
}

.mobile-nav-icon > ul > li {
  margin: 0.4rem 1.2rem;
  font-size: 1rem;
}

.mobile-nav-icon > ul > li:hover {
  color: red;
}
.button-navbar {
  float: right;
  margin-right: -14rem;
}
.button-navbar > button {
  font-size: 2rem;
  margin-top: -0.2rem;
  border: none;
  background-color: white;
  color: red;
}
/* tablet view  of navbar */
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: fixed;
  }
  /* blog.html */
  .shop-watch-shop {
    background-image: url(../images/about_hero.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 35rem;
  }
  .shop-watch-shop-header {
    text-align: center;
    color: #0b1c39;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 17.5rem;
    font-size: 3rem;
  }
  .blog {
    display: grid;
    grid-template-columns: auto;
    margin: 0rem;
    gap: 0rem;
  }
  .blog-images {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    width: 47.9rem;
  }
  .blog-image-details {
    width: 43.7rem;
    margin: 6rem 2rem 0rem 2rem;
    height: 36rem;
  }
  .blog-image > img {
    width: 43.7rem;
  }
  .blog-date {
    background-color: #ff2120;
    color: white;
    height: 4.5rem;
    width: 5.5rem;
    position: absolute;
    padding-top: 1.2rem;
    border-radius: 0.3rem;
  }
  .blog-date > h3 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-top: -0.1rem;
  }
  .blog-date > p {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    margin-top: 0.2rem;
    margin-right: 0.4rem;
  }
  .blog-image-detail {
    padding: 2rem 0rem 2.5rem 2.5rem;
  }

  .blog-image-detail > h3 {
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .blog-image-detail > p {
    color: #8c8c93;
    font-family: "Roboto", sans-serif;
    font-size: 1.05rem;
    cursor: pointer;
    width: 40rem;
    line-height: 2rem;
  }
  .blog-image-detail > ul {
    display: flex;
    color: #8c8c93;
    list-style: none;
    margin: 1.5rem 0rem;
    font-family: "Roboto", sans-serif;
  }
  .blog-social {
    width: 43.8rem;
    margin: 4rem 2rem;
  }
  .blog-search,
  .blog-category,
  .blog-recent-post,
  .blog-tag-clouds,
  .insta-feeds,
  .news-letters {
    margin-top: 2rem;
    background-color: #fbf8ff;
    padding: 1.5rem;
    width: 40.8rem;
  }
  .blog-search > input {
    width: 36.3rem;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 1px solid lightgrey;
  }
  .blog-search-btn,
  .news-letter > button {
    color: white;
    background-color: red;
    font-size: 1rem;
    height: 3rem;
    width: 40.8rem;
    border: none;
    margin-top: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid red;
  }
  .blog-recent-post-image > img {
    width: 5rem;
  }
  .blog-recent-post-detail {
    float: right;
    margin: 1rem 21rem 1.5rem 0rem;
    width: 13rem;
  }
  .blog-rightside-header > h4 {
    font-size: 1.3rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #0b1c39;
  }
  .tag-clouds-btns > button {
    font-size: 0.9rem;
    color: #8c8c93;
    border-radius: none;
    background-color: transparent;
    border: 1px solid lightgrey;
    padding: 0.4rem 1.2rem;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    cursor: pointer;
  }
  .insta-gallery-image > img {
    width: 5.5rem;
  }
  .news-letter > input {
    width: 39.4rem;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 1px solid lightgrey;
  }
  /* <!-- footer --> */
  .footer {
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    margin: 2rem;
    gap: 0rem;
  }
  .footer-copyright {
    margin: 4rem 7rem 5rem 2rem;
    color: #8c8c93;
    font-family: "Roboto", sans-serif;
    width: 24rem;
  }
  .footer-copyright > p {
    width: 24rem;
    line-height: 2rem;
    font-size: 1rem;
  }
  .footer-copyright > ul {
    float: right;
    display: inline-flex;
    margin: -2rem -12rem 0rem 4rem;
    list-style: none;
  }
}
/* mobile large view  of navbar */
@media (max-width: 425px) {
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    width: 100%;
  }
  .mobile-company-logo {
    margin: 1.5rem 1rem;
  }
  .mobile-company-logo > img {
    width: 8rem;
  }
  .mobile-nav-menu {
    margin: 0rem 1rem;
    display: none;
    position: absolute;
    background-color: white;
    width: 24.5rem;
  }
  .mobile-nav-icon {
    float: right;
    position: absolute;
    margin-left: 17.5rem;
    margin-top: 2.5rem;
  }
  .mobile-nav-icon > ul > li {
    margin: 0.4rem 0.7rem;
    font-size: 1rem;
  }

  .button-navbar {
    float: right;
    margin-right: 0.5rem;
  }
  .button-navbar > button {
    font-size: 2rem;
    margin-top: -0.2rem;
    border: none;
    background-color: white;
    color: red;
  }
  .shop-watch-shop {
    background-image: url(../images/about_hero.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20rem;
  }
  .shop-watch-shop-header {
    text-align: center;
    color: #0b1c39;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 11rem;
    font-size: 1.2rem;
  }
  .blog {
    display: grid;
    grid-template-columns: auto;
    margin: 0rem;
    gap: 0rem;
  }
  .blog-images {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    width: 26.5rem;
    margin-top: 7rem;
  }
  .blog-image-details {
    width: 24.5rem;
    margin: 1rem 1rem 2rem 1rem;
    height: 28rem;
  }
  .blog-image > img {
    width: 24.5rem;
    margin: 0rem;
  }
  .blog-date {
    background-color: #ff2120;
    color: white;
    height: 4rem;
    width: 4rem;
    position: absolute;
    padding-top: 1.2rem;
    border-radius: 0.3rem;
    margin-left: 0.7rem;
  }
  .blog-date > h3 {
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    margin-right: 1rem;
    margin-top: -0.5rem;
  }
  .blog-date > p {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    margin-top: 0.6rem;
    margin-right: 0.4rem;
  }
  .blog-image-detail {
    padding: 2rem 0rem 2.5rem 1rem;
  }

  .blog-image-detail > h3 {
    font-size: 1.1rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .blog-image-detail > p {
    color: #8c8c93;
    font-family: "Roboto", sans-serif;
    font-size: 0.97rem;
    cursor: pointer;
    width: 23rem;
    line-height: 2rem;
  }
  .blog-image-detail > ul {
    display: flex;
    color: #8c8c93;
    list-style: none;
    margin: 1.5rem 0rem;
    font-family: "Roboto", sans-serif;
  }
  .blog-social {
    width: 24.5rem;
    margin: 1rem;
  }
  .blog-search,
  .blog-category,
  .blog-recent-post,
  .blog-tag-clouds,
  .insta-feeds,
  .news-letters {
    margin-top: 2rem;
    background-color: #fbf8ff;
    padding: 1.5rem;
    width: 21.5rem;
  }
  .blog-search > input {
    width: 17rem;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 1px solid lightgrey;
  }
  .blog-search-btn,
  .news-letter > button {
    color: white;
    background-color: red;
    font-size: 1rem;
    height: 3rem;
    width: 21.5rem;
    border: none;
    margin-top: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid red;
  }
  .blog-recent-post-detail {
    float: right;
    margin: 1rem 2rem 1rem 0rem;
    width: 13rem;
  }
  .news-letter > input {
    width: 20rem;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 1px solid lightgrey;
  }
  /* <!-- footer --> */
  .footer {
    display: grid;
    grid-template-columns: auto;
    color: white;
    margin: 2rem 1rem;
    gap: 3rem 2rem;
  }
  .time-zone-detail > p {
    margin-top: 0.5rem;
    width: 24rem;
    line-height: 2rem;
  }
  .footer-copyright {
    margin: 4rem 7rem 5rem 0rem;
    color: #8c8c93;
    font-family: "Roboto", sans-serif;
  }
  .footer-copyright > p {
    width: 24rem;
    margin: 0rem 1rem;
    line-height: 2rem;
  }
  .footer-copyright > ul {
    float: left;
    display: inline-flex;
    margin: 1rem;
    list-style: none;
  }
}
/* mobile medium view  of navbar */
@media (max-width: 375px) {
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    width: 100%;
  }
  .shop-watch-shop {
    background-image: url(../images/about_hero.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 23rem;
    width: 26.5rem;
  }
  .shop-watch-shop-header {
    text-align: center;
    color: #0b1c39;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 13rem;
    font-size: 1.4rem;
  }
  .blog-image-detail > h3 {
    font-size: 1.3rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .blog-image-detail > p {
    color: #8c8c93;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    width: 23rem;
    line-height: 2rem;
  }
  .blog-search,
  .blog-category,
  .blog-recent-post,
  .blog-tag-clouds,
  .insta-feeds,
  .news-letters {
    margin-top: 2rem;
    background-color: #fbf8ff;
    padding: 2rem 2rem 2rem 2rem;
    width: 20.5rem;
  }
  .blog-search > input {
    width: 16rem;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 1px solid lightgrey;
  }
  .blog-search-btn,
  .news-letter > button {
    color: white;
    background-color: red;
    font-size: 1rem;
    height: 3rem;
    width: 20.5rem;
    border: none;
    margin-top: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid red;
  }
  .blog-recent-post-detail {
    float: right;
    margin: 1rem 1rem 1rem 0rem;
    width: 13rem;
  }
  .insta-gallery-image > img {
    width: 6.4rem;
  }
  .news-letter > input {
    width: 19rem;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 1px solid lightgrey;
  }
}
/* mobile small view  of navbar */
@media (max-width: 320px) {
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    width: 100%;
  }
  .mobile-company-logo > img {
    width: 12rem;
  }
  .shop-watch-shop {
    background-image: url(../images/about_hero.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30rem;
    width: 26.5rem;
  }
  .shop-watch-shop-header {
    text-align: center;
    color: #0b1c39;
    font-family: "Josefin Sans", sans-serif;
    padding-top: 17rem;
    font-size: 1.7rem;
  }
  .blog-image-detail > h3 {
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .blog-image-detail > p {
    color: #8c8c93;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
    width: 23rem;
    line-height: 2rem;
  }
  .blog-search,
  .blog-category,
  .blog-recent-post,
  .blog-tag-clouds,
  .insta-feeds,
  .news-letters {
    margin-top: 2rem;
    background-color: #fbf8ff;
    padding: 2.5rem;
    width: 19.5rem;
  }
  .blog-search > input {
    width: 15rem;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 1px solid lightgrey;
  }
  .blog-search-btn,
  .news-letter > button {
    color: white;
    background-color: red;
    font-size: 1rem;
    height: 3rem;
    width: 19.5rem;
    border: none;
    margin-top: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid red;
  }
  .blog-rightside-header > h4 {
    font-size: 1.7rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #0b1c39;
  }
  .blog-recent-post-image > img {
    width: 6rem;
  }
  .blog-recent-post-detail {
    float: right;
    margin: 1rem -1rem 1.5rem 0rem;
    width: 13rem;
  }
  .blog-recent-post-detail > h4 {
    font-size: 1.4rem;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
    font-weight: 400;
    color: #0b1c39;
  }
  .blog-recent-post-detail > p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #8c8c93;
    font-family: "Roboto", sans-serif;
  }
  .tag-clouds-btns > button {
    font-size: 1.2rem;
    color: #8c8c93;
    border-radius: none;
    background-color: transparent;
    border: 1px solid lightgrey;
    padding: 0.5rem 1.4rem;
    margin-top: 0.7rem;
    margin-left: 0.3rem;
    cursor: pointer;
  }
  .news-letter > input {
    width: 18 rem;
    height: 3.5rem;
    padding-left: 1.25rem;
    border: 1px solid lightgrey;
  }
  .footer {
    display: grid;
    grid-template-columns: auto;
    color: white;
    margin: 4rem 1rem;
    gap: 3rem;
    width: 24.5rem;
  }
  .time-zone-detail > p {
    margin-top: 0.5rem;
    width: 24rem;
    line-height: 2rem;
    font-size: 1.3rem;
  }
  .links-detail > h4 {
    font-size: 1.7rem;
    font-weight: 500;
    color: black;
  }
  .links-detail > ul > li > a {
    text-decoration: none;
    color: #8c8c93;
    transition: 0.5s;
    font-size: 1.3rem;
  }
  .footer-copyright {
    margin: 4rem 7rem 5rem 0rem;
    color: #8c8c93;
    font-family: "Roboto", sans-serif;
  }
  .footer-copyright > p {
    width: 24rem;
    margin: 0rem 1rem;
    line-height: 2.5rem;
    font-size: 1.3rem;
  }
  .footer-copyright > ul {
    float: left;
    display: inline-flex;
    margin: 1.5rem;
    list-style: none;
  }
}

